---
import CampusTour from "../components/common/CampusTour.astro";
import CommonBreadCrumb from "../components/common/CommonBreadCrumb.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About" slug="about">
  <CommonBreadCrumb title="Canadian University" />

  <!-- about university -->
  <section class="rts-about-university rts-section-padding">
    <div class="container">
      <div class="row">
        <div class="rts-section">
          <div class="col-lg-4 col-md-5">
            <h3 class="rts-section-title">About Our University</h3>
          </div>
          <div class="col-lg-8 col-md-7">
            <p class="rts-section-description">
              Welcome to Canadian University, where knowledge meets inspiration,
              and every individual's educational journey is valued. Established
              in 2006 Establishment, our university has been a bastion of
              learning, innovation, and community for years and years to come.
            </p>
          </div>
        </div>
      </div>
      <div class="row g-5 justify-content-md-center justify-content-start">
        <div class="col-lg-7 col-xl-8 col-md-11">
          <div class="rts-about-section">
            <img
              src="https://gallery.cub.ac.bd/var/albums/Web-Photos/CUB/Home/news/Untitled-5-01.jpg?m=1707650197"
              alt=""
            />
          </div>
        </div>
        <div class="col-lg-5 col-xl-4 col-md-11">
          <div class="rts-about-details">
            <div class="single-about-info">
              <div class="content">
                <h3 class="title">20,000</h3>
                <img src="assets/images/icon/11.svg" alt="" />
              </div>
              <div class="desc">
                <p>undergraduate and graduate students</p>
              </div>
            </div>
            <div class="single-about-info">
              <div class="content">
                <h3 class="title">16,214</h3>
                <img src="assets/images/icon/12.svg" alt="" />
              </div>
              <div class="desc">
                <p>Canadian University Faculty and Staff</p>
              </div>
            </div>
            <div class="single-about-info">
              <div class="content">
                <h3 class="title">300k</h3>
                <img src="assets/images/icon/13.svg" alt="" />
              </div>
              <div class="desc">
                <p>Canadian Alumni Worldwide</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about university end -->
  <!-- history -->
  <div class="rts-history">
    <div class="container">
      <div
        class="row g-5 justify-content-md-center justify-content-start align-items-center"
      >
        <div class="col-lg-12 col-md-12">
          <div class="rts-history-section">
            <img
              src="https://gallery.cub.ac.bd/var/albums/Web-Photos/CUB/Home/cub_logo-01/CUB_Logo.png?m=1681102027"
              style="display: block; margin-inline: auto;"
            />
            <p style="text-align: justify;">
              Canadian University of Bangladesh (CUB) has started its journey
              since June 2016 with the visions and missions of providing
              excellent education and generating emerging knowledge applicable
              for the Era of ICT. The assortment challenges of new generation
              equipped with the materialized global knowledge commanding the
              attention of the students, and yet be delivered in a method and at
              a pace that will permit the student to achieve success. In
              addition to preparing the students to apply their knowledge and
              skills, the university develops the curriculum with right attitude
              to attain a specific ability for the profession to deliver.
              Delivery of the curriculum will engage the students in an active
              learning process, in which their critical thinking and
              problem-solving skills will continue to be refined. The
              educational and career development methodologies are designed to
              equip the 21st century students with the skills that is required
              to become accomplished in their respected fields. This will
              transform the students into highly competent professionals having
              the potential of becoming future leader in the respective
              precinct. The university emphasizes on the integration of
              information, communication and technology-based education while
              trains its students about human ethics and regulatory laws in
              their profession as well as the overall society.<br />

              As the world is going towards revolutionary changes of
              technological aspects, peoples lives are changing very quickly
              into a furtive future where the development to be approaching is
              beyond human thinking. Technology is entering in every domain of
              human life. So, to keep pace with these ongoing changes, our
              education system should also be changed and updated with the
              emerging scopes and facilities and changes in industries.<br /><br
              />

              To address the needs and virtualized environment of today's era,
              with the direct engagement of a group of young talent teachers,
              CUB has introduced the Tutorial Based Education (TBE) system for
              the first time in Bangladesh to implement the slogan of "Inspiring
              Applied Knowledge for the Future". TBE has already been
              implemented successfully in many reputed universities of the
              world, but CUB's version of TBE is a unique and novel concept
              applicable for the education processes in the evolving ICT Era.
              TBE in CUB is a kind of hands-on learning that addresses the
              real-life problems to be explored by the students and accumulates
              all the good features extracted from both the traditional
              input-based education system and the latest problem-based learning
              (PBL) to ensure the current direction of Outcome Based Education
              (OBE). The unique features of TBE in CUB helps students to
              understand the knowledge and concepts embedded within the
              curriculum and make them prepared for both the examination and
              future professional careers inside the university environment.
              This also facilitates them to build socialism among their
              classmates and helping attitude for understanding and solving
              problems through group activities.<br /><br />

              Students in current world are very talented compared with any time
              in the past; they have the opportunity to learn by doing and
              surfing through worldwide social media like Facebook, google and
              YouTube. Even the parents do not know about the explorative and
              creative capabilities that their children have. However, the
              students are not getting interest in their study when they have to
              go through the backdated education process derived from the
              traditional one just by including multimedia projector. They want
              to create something for making the world wonder; they want to know
              the entire world about their existence. Canadian University of
              Bangladesh is going to provide both knowledge and skills at the
              deserving level of the talented students in the ICT era for
              converting them into the real emerging citizens of the country for
              today and for the future.<br /><br />

              The policies and procedures followed within CUB are utilizing ICT
              and providing services in a very personalized way. Computing
              system is available for every activities in this university from
              admitting students to collecting student attendance to certificate
              printing. The facilities and administrative supports of this
              university are also designed to provide at a customized level
              based on individual demands in a highly comfortable manner.
              University Management Software (UMS) helps the all level of users
              including faculties, administrative staffs and students to attain
              the best services just a single click away. Moodle software is
              used to facilitate the faculties and students for sharing the
              course materials, assignments and events management and
              disseminating messages as well as sharing knowledge just by
              clicking mouse from anywhere of the world at any time.<br /><br />

              CUB is an emerging university to educate the new generation for
              making them suitable for emerging world and pioneering and
              exceeding the education processes followed in North America and
              Canada. This university is profoundly committed to fulfill its
              responsibility to produce the world-class leaders and skilled
              professionals required to ensure the success and prosperity of the
              nation and to hasten the arrival of wonderful future. This place
              would definitely be the right choice for the Youngers to choose
              for building the future.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- history end-->

  <!-- mission -->
  <section class="rts-mission rts-section-padding">
    <div class="container">
      <div class="row justify-content-center rt-center">
        <div class="rts-section mb--50">
          <h2 class="section-title rt-center">Mission and Values</h2>
        </div>
      </div>
      <!-- mission -->
      <div class="row">
        <div class="col-lg-12">
          <div class="rts-timeline-section">
            <div class="rts-timeline-content">
              <div class="left-side">
                <div class="single-timeline-item">
                  <h5 class="timeline-title">Diversity</h5>
                  <p>
                    Celebrating a rich tapestry of backgrounds, perspectives,
                    and talents
                  </p>
                  <img src="assets/images/about/mission-1.jpg" alt="" />
                </div>
                <div class="single-timeline-item">
                  <h5 class="timeline-title">Innovation</h5>
                  <p>
                    Encouraging creativity, critical thinking, and a spirit of
                    innovation.
                  </p>
                  <img src="assets/images/about/mission-2.jpg" alt="" />
                </div>
              </div>
              <div class="separator"></div>
              <div class="right-side">
                <div class="single-timeline-item">
                  <h5 class="timeline-title">Excellence</h5>
                  <p>
                    Striving for academic and research excellence in all
                    endeavors.
                  </p>
                  <img src="assets/images/about/mission-3.jpg" alt="" />
                </div>
                <div class="single-timeline-item">
                  <h5 class="timeline-title">Academic Excellence</h5>
                  <p>
                    Our commitment to academic excellence is reflected in the
                    diverse range
                  </p>
                  <img src="assets/images/about/mission-4.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- mission end-->
  <div class="pb--120"><CampusTour /></div>
</Layout>

<style>
  .rts-about-university .rts-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 50px;
  }
  @media screen and (max-width: 768px) {
    .rts-about-university .rts-section {
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  .rts-about-university .rts-section-description {
    border-left: 1px solid #c0c0c0;
    padding-left: 45px;
  }
  @media screen and (max-width: 768px) {
    .rts-about-university .rts-section-description {
      padding-left: 0;
      border: none;
    }
  }

  .rts-about-section {
    height: 535px;
  }
  @media screen and (max-width: 992px) {
    .rts-about-section {
      height: 100%;
    }
  }
  .rts-about-section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .rts-about-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .rts-about-details .single-about-info {
    background: var(--rt-primary);
    padding: 30px 30px 35px 40px;
  }
  .rts-about-details .single-about-info .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .rts-about-details .single-about-info .content h3 {
    margin-bottom: 0;
    color: var(--rt-white);
  }
  .rts-about-details .single-about-info .desc p {
    color: var(--rt-white);
  }

  .rts-history-section {
    padding: 30px;
    background: #fafafa;
    box-shadow:
      0 0 10px rgba(0, 0, 0, 0.3),
      0 0 300px 25px rgba(222, 198, 122, 0.7) inset;
    /* max-height: 1000px; */
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .rts-mission .rts-timeline-section .rts-timeline-content {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width: 1200px) {
    .rts-mission .rts-timeline-section .rts-timeline-content {
      gap: 30px;
    }
  }
  @media screen and (max-width: 576px) {
    .rts-mission .rts-timeline-section .rts-timeline-content {
      flex-wrap: wrap;
    }
  }
  .rts-mission .rts-timeline-section .rts-timeline-content .left-side {
    margin-top: 90px;
    position: relative;
    left: -20px;
  }
  @media screen and (max-width: 1200px) {
    .rts-mission .rts-timeline-section .rts-timeline-content .left-side {
      left: 0;
    }
  }
  @media screen and (max-width: 576px) {
    .rts-mission .rts-timeline-section .rts-timeline-content .left-side {
      margin-top: 0;
    }
  }
  .rts-mission
    .rts-timeline-section
    .rts-timeline-content
    .left-side
    .single-timeline-item {
    position: relative;
    text-align: right;
  }
  @media screen and (max-width: 576px) {
    .rts-mission
      .rts-timeline-section
      .rts-timeline-content
      .left-side
      .single-timeline-item {
      text-align: center;
    }
  }
  .rts-mission
    .rts-timeline-section
    .rts-timeline-content
    .left-side
    .single-timeline-item
    p {
    max-width: 330px;
    margin-right: 0;
  }
  @media screen and (max-width: 576px) {
    .rts-mission
      .rts-timeline-section
      .rts-timeline-content
      .left-side
      .single-timeline-item
      p {
      max-width: 100%;
    }
  }
  .rts-mission
    .rts-timeline-section
    .rts-timeline-content
    .single-timeline-item {
    position: relative;
    text-align: right;
  }
  .rts-mission
    .rts-timeline-section
    .rts-timeline-content
    .single-timeline-item:not(:last-child) {
    margin-bottom: 100px;
  }
  @media screen and (max-width: 576px) {
    .rts-mission
      .rts-timeline-section
      .rts-timeline-content
      .single-timeline-item:not(:last-child) {
      margin-bottom: 50px;
    }
  }
  .rts-mission
    .rts-timeline-section
    .rts-timeline-content
    .single-timeline-item
    h5 {
    margin-bottom: 10px;
    position: relative;
  }
  .rts-mission
    .rts-timeline-section
    .rts-timeline-content
    .single-timeline-item
    h5::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100px;
    background: #d9d9d9;
    top: 15px;
    right: -25%;
  }
  @media screen and (max-width: 1200px) {
    .rts-mission
      .rts-timeline-section
      .rts-timeline-content
      .single-timeline-item
      h5::after {
      display: none;
    }
  }
  @media screen and (max-width: 992px) {
    .rts-mission
      .rts-timeline-section
      .rts-timeline-content
      .single-timeline-item
      h5::after {
      right: -7%;
      display: block;
      width: 30px;
      top: 10px;
    }
  }
  @media screen and (max-width: 768px) {
    .rts-mission
      .rts-timeline-section
      .rts-timeline-content
      .single-timeline-item
      h5::after {
      display: none;
    }
  }
  .rts-mission
    .rts-timeline-section
    .rts-timeline-content
    .single-timeline-item
    p {
    max-width: 330px;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .rts-mission .rts-timeline-section .rts-timeline-content .right-side {
    margin-top: 40px;
    position: relative;
    right: -20px;
  }
  @media screen and (max-width: 1200px) {
    .rts-mission .rts-timeline-section .rts-timeline-content .right-side {
      right: 0;
    }
  }
  @media screen and (max-width: 576px) {
    .rts-mission .rts-timeline-section .rts-timeline-content .right-side {
      margin-top: 20px;
    }
  }
  .rts-mission
    .rts-timeline-section
    .rts-timeline-content
    .right-side
    .single-timeline-item {
    position: relative;
    text-align: left;
  }
  @media screen and (max-width: 576px) {
    .rts-mission
      .rts-timeline-section
      .rts-timeline-content
      .right-side
      .single-timeline-item {
      text-align: center;
    }
  }
  .rts-mission
    .rts-timeline-section
    .rts-timeline-content
    .right-side
    .single-timeline-item:not(:last-child) {
    margin-bottom: 100px;
  }
  @media screen and (max-width: 576px) {
    .rts-mission
      .rts-timeline-section
      .rts-timeline-content
      .right-side
      .single-timeline-item:not(:last-child) {
      margin-bottom: 50px;
    }
  }
  .rts-mission
    .rts-timeline-section
    .rts-timeline-content
    .right-side
    .single-timeline-item
    h5 {
    margin-bottom: 10px;
    position: relative;
  }
  .rts-mission
    .rts-timeline-section
    .rts-timeline-content
    .right-side
    .single-timeline-item
    h5::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100px;
    background: #d9d9d9;
    top: 15px;
    left: -25%;
  }
  @media screen and (max-width: 1200px) {
    .rts-mission
      .rts-timeline-section
      .rts-timeline-content
      .right-side
      .single-timeline-item
      h5::after {
      display: none;
    }
  }
  @media screen and (max-width: 992px) {
    .rts-mission
      .rts-timeline-section
      .rts-timeline-content
      .right-side
      .single-timeline-item
      h5::after {
      left: -7%;
      display: block;
      width: 30px;
      top: 10px;
    }
  }
  @media screen and (max-width: 768px) {
    .rts-mission
      .rts-timeline-section
      .rts-timeline-content
      .right-side
      .single-timeline-item
      h5::after {
      display: none;
    }
  }
  .rts-mission
    .rts-timeline-section
    .rts-timeline-content
    .right-side
    .single-timeline-item
    p {
    max-width: 330px;
    margin-left: 0;
    margin-bottom: 30px;
  }
  @media screen and (max-width: 576px) {
    .rts-mission
      .rts-timeline-section
      .rts-timeline-content
      .right-side
      .single-timeline-item
      p {
      max-width: 100%;
    }
  }
  .rts-mission .rts-timeline-section .rts-timeline-content .separator {
    position: relative;
  }
  .rts-mission .rts-timeline-section .rts-timeline-content .separator::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 90%;
    width: 1px;
    background: #d9d9d9;
    content: "";
  }
</style>
